{% load static %}
< !DOCTYPE html>
<html>
    <head>
        <title>Learning links</title>
        <link rel="stylesheet" href="{% static 'playground/css/styles.css' %}">

    </head>
    <body>
        <h1>Learning how place an image  on websites and also website links</h1>
        <br>
        <p>This is a paragraph on the basis of the changes in color</p>
        <br>
        <img src="{% static 'playground/image/OIP.jpg' %}" alt="Image" style="display:block; margin:auto;">
        <!--<img src="{% static 'playground/images/OIP.jpg' %}" alt="Image" style="display:block; margin:auto;"> -->
        <br>
        <a href="https://www.bing.com/images/search?q=i+am+cooked+meaning&form=HDRSC3&first=1" target="_blank">Life right now</a>
    </body>
</html>