body {
  background-color: powderblue;
}
h1 {
  color: rgb(255, 255, 255);
}
p {
  border: 2px solid rgb(0, 255, 17);
  padding: 50px;
  display:block; 
  margin:auto;
  font-family: courier;
  font-size: 160%;
}